* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */
header {
    width: 100%;
    background-color: azure;
    border: 1px solid black;
    

}

.container {
    width: 80%
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

/* Hamburger button */
.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 8%;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    
   
  }

  .btn-lines {
    width: 20px;
    height: 0.5px;
    background-color: black;
    margin: 3px 0;
    
   
  }
  /* /Hamburger button */