* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */


.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    /* debug */
    border: 1px solid black;

}



.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.col {
    
    /* debug */
    border: 1px solid black;
    background-color: bisque;
    border-radius: 15px;
    padding:  1rem;
}

.btn {
    color: black;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
}

.small {
    padding:0.5rem 1.5rem
}

/* header */
header {
    background-color: azure;
    border: 1px solid black;
    padding-bottom: 1rem;
    padding-top: 1rem

    

}

header .row {
    padding-left: 1rem;
    padding-right: 1rem;
}

.head-nav {
    display: none;
}


/* Hamburger button */
.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 8%;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    
   
  }

  .btn-lines {
    width: 20px;
    height: 0.5px;
    background-color: black;
    margin: 3px 0;
    
   
  }
  /* /Hamburger button */

  header .container {
    padding: 0
  }

/* header for desktop */

@media screen and (min-width:1024px) {
    header {
        height: 5rem;
    }
header .container {
    align-content: ;
}

    .menu-btn {
        display: none;
        
    }

    .logo {
        width: 50%;
    }

    .head-nav ul, li {
        list-style-type: none;
    }

    .row .head-nav {
        width: 50%;
        display: flex;
        /* flex-direction: row;
        flex-wrap: nowrap; */
        justify-content: flex-end;
       
       
    }

    .head-nav ul, li {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2rem;
        
        
       
    }
    
}


/* /HEADER */

  /* HERO */

  #hero-sect .row {
    flex-direction: column;
  }
  #hero-sect .col {
    width: 100%;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  /* HERO FOR TABLET */
  @media screen and (min-width: 768px) {

    #hero-sect .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: stretch;
        justify-content:center ;
        /* justify-content: space-around; */
    }

    #hero-sect .col {
        width: calc(100% / 5)
    }

    #hero-sect .col:first-child {
        width: 60%;
    } 

   

    #hero-sect .col:nth-last-child(-n+4) {
        width: 30%;
    }


    
  }

    /* /HERO FOR TABLET */
  
