* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
/* LAYOUT */

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0.5;
    padding-bottom: 1rem;
    line-height: 2rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    /* debug */
    border: 1px solid black;

}

/* CONTAINER FOR DESKTOP */

@media screen and (min-width: 1024px) {
    .container {
        width: 70%;
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
/* /CONTAINER FOR DESKTOP */



.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.col {
    
    /* debug */
    border: 1px solid black;
    background-color: bisque;
    width: 95%;
    margin: 0.5rem;
    border-radius: 15px;
    padding:  1rem;
}

.btn {
    border-radius: 15px;
    border: 1px solid black;
    padding: .5rem 1.5rem;
    margin: .5rem;
    
}

.white {
    background-color: white;
    color: black;
}

.lilac {
    background-color: rgb(211, 130, 238);
    color: white;
}

.large {
    width: 3rem;
    height: 2rem;

}



/* header */
header {
    background-color: rgb(76, 126, 212);
    border: 1px solid black;
    padding-bottom: 1rem;
    padding-top: 1rem

    

}

.logo img {
    height: 2rem;
    width: 4rem;

}

header .row {
    padding-left: 1rem;
    padding-right: 1rem;
}

.head-nav {
    display: none;
}


/* Hamburger button */
.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 8%;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
    
   
  }

  .btn-lines {
    width: 20px;
    height: 0.5px;
    background-color: black;
    margin: 3px 0;
    
   
  }
  /* /Hamburger button */

  header .container {
    padding: 0
  }

/* header for desktop */

@media screen and (min-width: 1024px) {


    header {
        height: 5rem;
        /* line-height: 2rem; */
        /* text-align: middle; */
    }

    header .row {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .menu-btn {
        display: none;
        
    }

    .logo {
        width: 50%;
        border: 1px solid black;
        justify-content: center;
        /* margin-left: 4rem; */
        

    }


    .head-nav ul, li {
        list-style-type: none;
        
    }

    .head-nav {
        width: 50%;
        display: flex;
        /* flex-direction: row;
        flex-wrap: nowrap; */
        justify-content: center;
        border: 1px solid black;
       
        
    }

     .head-nav ul, li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2rem;
        align-items: center;

        
    }

   


    
}
/* /header for desktop */


/* /HEADER */

  /* HERO */

  #hero-sect .row {
    flex-direction: column;
    justify-content: center;
  }
  #hero-sect .col {
    width: 95%;
    margin: .5rem;

  }

  /* HERO FOR TABLET */
  @media screen and (min-width: 768px) {

    #hero-sect .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: stretch;
        justify-content:center ;
        /* justify-content: space-around; */
    }

    #hero-sect .col {
        width: calc(100% / 5 );
        
    }

    #hero-sect .col:first-child {
        width: 60%;
    } 

   

    #hero-sect .col:nth-last-child(-n+4) {
        width: 30%;
    }


    
  }

    /* /HERO FOR TABLET */
  
    /* WHAT WE DO SECTION */

    #what-we-do {
        background-color: lightsalmon;
    }

    #what-we-do .row {
        flex-wrap: wrap;
        gap: 1rem;
       
    }

    #what-we-do .col {
       width: 95%;
    }

    /* WHAT WE DO TABLET  */

    @media screen and (max-width: 768px) {
        #what-we-do .row {
            flex-direction: column;
        }

        #what-we-do .col {
            
            width: 95%;
            justify-content: center;
            margin: 0 auto;
        }
        
    }
    /* WHAT WE DO TABLET  */


    /* WHAT WE DO DESKTOP */

    @media screen and (min-width: 1024px) {

        #what-we-do .row {
            flex-direction: row;
            justify-content: center;
        }

        #what-we-do .col {
            width: 45%;
        }

    }

    /* TESTIMONIAL SECTION */

    #testimonials .row {
        flex-direction: column;
        gap: 1rem;
    }


    /* testimonial for tablet */

    @media screen and (min-width: 768px) {
        #testimonial
        
    }

    /* /testimonial for tablet */

    /* testimonial for desktop */

    @media screen and (max-width: 1024px) {

        #testimonial .row {
            flex-direction: column;
            justify-content: center;
        }



        #testimonials .col {
            width: 95%;
            justify-content: center;
            margin: 0 auto;
            
        }

    
    }
    /* /testimonial for desktop */



    /* benefits section */

    #benefits {
        background-color: lightsalmon;
    }

    #benefits .row {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    #benefits .col {
        width: 95%;
        margin: .5rem;
    }

    #benefits .row .col:first-child {
        text-align: center;
    }

    /* benefits section tablet */

    @media screen and (min-width: 768px) {

        #benefits .row {
            flex-direction: row;
            flex-wrap: wrap;
            
            
        }

        #benefits .col {
            width: calc(100% / 2 - 1.5rem)
        }

       #benefits .row .col:first-child {
            width: 100%;
            background-color: lightsalmon;
            border: none;
            text-align: center;
       } 


        
    }

      /* /benefits section tablet */

        /* benefits section deskot */
    @media screen and (min-width: 1024px) {

        #benefits .row {
            flex-direction: row;
            flex-wrap: wrap;
            
            
        }

        #benefits .col {
            width: calc(90% / 2)
        }

       #benefits .row .col:first-child {
            width: 100%;
            background-color: lightsalmon;
            border: none;
            text-align: center;
       } 


        
    }

        /* /benefits section deskot */

        /* ABOUT US SECTION  */

        #about-us .row {
            flex-direction: column;
        }

        #about-us h1{
            text-align: center;
        }

        #about-us p {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            line-height: 2rem;
        }

        #about-us h2 {
            margin-bottom: 1.5rem;
        }


         /* ABOUT US SECTION for tablet  */
    @media screen and (min-width: 768px) {

        #about-us h1 {
            text-align: left;
            font-size: ;
        }

        #about-us .row {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        #about-us .col {
            width: calc(95% / 2 );
            
        }
        
    }

    /* ABOUT US SECTION FOR DESKTOP */

    @media screen and (min-width: 1024px) {

        #about-us .row .col {
            width: calc(90% / 2)
        }
        
    }

        /* /ABOUT US SECTION  */



        /* CALL TO ACTION SECTION */
    
    #cta {
        background-color: rgb(76, 126, 212);
    }

    #cta .col {
        text-align: center;
    }




    


